# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# intellij
*.iml
*.ipr
*.iws
.idea/

# Linux temp files
*~

# Java
*.jar